certifi==2017.7.27.1
chardet==3.0.4
click==6.7
facebook-sdk==2.0.0
Flask==0.12.2
httplib2==0.10.3
idna==2.6
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
oauth2==1.9.0.post1
recordtype==1.1
requests==2.18.4
SQLAlchemy==1.1.14
urllib3==1.22
urlparse2==1.1.1
Werkzeug==0.12.2
